- if flash[:notice]
  = render 'shared/success_notice'

%head
  %title Joynus Staffing | Services | We provide best solutions
  %meta{:content => "We have your best interest at heart", :name => "Description"}/
%body
  %section.feature-section.no-spacing
    .feature.animated.fadeIn
      .feature-container2
        

        
  
  %section
    .wrap
      
              
                
      .pageleft
        .row        
          .columns.large-12
      
            %h2.secondary-text.text-center
              Accounting & Finance
            %p
              In accounting and finance, accuracy and precision is most important. 
              They are critical to your business function and specialized talent is essential 
              to your productivity and bottom-line results
           
            .columns.large-12
              %h5.secondary-text
                %b
                  Positions we excel at<br>
                
            
              .columns.large-6
                %p
                  Accountant <br>
                  Bookkeeper <br>
                  Billing Specialist <br>
                  Controller <br>
                  CFO <br>
                  CPA <br>
              .columns.large-6
                %p
                  Collector <br>
                  Claims Analyst <br>
                  Finance Specialist <br>
                  Financial Analyst <br>
                  Account Payable <br>
                  Account Receivable
                  
          
         
      .pageright
        .row
          .columns.large-10.large-offset-1
            %h2.text-center.secondary-text.no-margin-top= t 'contact.content-header'
            
        
        .form-section.no-spacing.mb--
          .row
            .columns.large-10.large-offset-1
              %fieldset.mb--
                = render 'contact/form'          
        
   
      