<head>
  <title>Services Joynus Staffing</title>
</head>


<% if flash[:notice] %>
  <%= render 'shared/success_notice' %>
<% end %>
<section class="feature-section no-spacing">
  <div class="feature animated fadeIn">
    <div class="feature-container">
      <img data-interchange="[/assets/services-bg-mobile.png, (small)], [/assets/services-bg-mobile.png, (medium)], [/assets/services-bg.png, (large)]" data-uuid="interchange-jl2bwtbd0" src="/assets/services-bg.png" >
      <div class="feature-text">
        <h1 class="text-center animated fadeInDown">
          <!--Don’t find fault. Find a remedy-->
          <!--People expect good service but few are willing to give it
          Our service is rated by your profit
          We listen to our customers deeply, or we will have none-->
          The more helpful you are, more pleasant we are
        </h1>
        
      </div>
    </div>
  </div>

</section>

     
      
<section >
  <h2 class="secondary-text text-center m-top3">Staffing & recruiting</h2>
<div class="row box m-top3">
  <div class="columns large-4 text-center">
    <div class="specialcontainer">
      <img src="assets/staff1.png" alt="staffing" class="imagee" style="width:100%">
      <div class="middle">
      <p class="text">Staffing process</p>
      </div>
    </div>
  </div>
  
  <div class="columns large-5 ">
    <h2 class="text-center secondary-text">Staffing</h2>
        <p>
          We provide a complete range of job placements with the appropriate skillsets our clients require.
          You will operate on your schedule so that you may be at ease with a pleasant overall experience. 
          We are dedicated team of professionals who love their work and because of this, 
          we repeatedly exceed our customer's expectations for every single one of our clients. 
          <a href></a>
        </p>
  </div>
</div>  
  
  
  
<div class="row box m-top3">
  <div class="columns large-4 text-center">
    <div class="specialcontainer">
      <img src="assets/recruit.png" alt="Recruiting" class="imagee" style="width:100%">
      <div class="middle">
      <p class="text">Recruiting process</p>
      </div>
    </div>
  </div>
  <div class="columns large-5 ">
    <h2 class="text-center secondary-text">Recruiting</h2>
        <p>
          We present you with potential candidate who will be a permanent position in your organization.
          Joynus recruiting specialists will review your job description and dig our database and review a plethora of resumes.
          After we send you candidates who match your needs, you interview them and make a decision
          <a href></a>
        </p>
  </div>
</div>  
</section>





<section class="wwdContent3">
<section>
        <div class="row">
          <div class="columns large-12">
                <h2 class="text-center secondary-text">
                 Business process outsourcing(BPO)</h2>
          </div>  
        </div>   
        
        <div class="row ">
         <div class="columns large-12 text-center ">
             <p> As a business process outsourcing partner, Joynus Provides customer experiences and back office operations for our clients.
      				<br>	What is back office operation? Call us and we'll tell you <%= link_to 'Contact us', contact_index_path%></p>
         </div>
        </div>   
</section>


<section>
  <div class="row">
  <div class="columns large-12">      
        <div class="columns large-6">
        <h2 class="text-center secondary-text">What is BPO?</h2>
        <p>Rather than focusing on cost reduction, strengthen the competitiveness, competencies thus growth of core business</p>
        <p>Provide benefits and solutions to customers by taking on operation and responsibility of their business related process</p>
        </div>
        
        <div class="columns large-6">
        <h2 class="text-center secondary-text">Why use BPO?</h2>
          <p>With high uncertainty and a rapidly changing world outsourcing is survival strategy to stay competitive and maintain competitive advantage</p>
          <p>Joynus BPO is the key to your outsource contract management so you can maximize your core business output</p>
          <p>Utilizing outsourcing service is proven to be more beneficial than using temporary, short-term, repetitive subcontracting</p>
        </div>
  </div>
  </div>
 
</section>      
</section> 