- if flash[:notice]
  = render 'shared/success_notice'

%head
  %title Joynus Staffing | Services | We provide best solutions
  %meta{:content => "We have your best interest at heart", :name => "Description"}/
%body
  %section.feature-section.no-spacing
    .feature.animated.fadeIn
      .feature-container2
            

        
  
  %section
    .wrap
      
              
                
      .pageleft
        .row        
          .columns.large-12
      
            %h2.secondary-text.text-center
              Manufacturing
            %p
              As technology advances, manufacturing operations have evolved and it requires evolved set of talent than past decades. 
              Today’s workers must be skilled in sophisticated processes and systems to meet your demands for ongoing innovations, safety 
              and quality
            
           
            
            .columns.large-6
             
              %h5
                %b.secondary-text
                  Top five issues we focus on
              %p
                Production demand<br>
              
                Quality<br>
              
                Attendance<br>
              
                Retention and Turnover<br>
              
                Safety and incident  <br>
                
        .row        
          .columns.large-12
      
            
           
            
            .columns.large-6
             
              %h5
                %b.secondary-text
                  Positions we excel at
          .columns.large-12
            .columns.large-6
              
              %p
                Assembly<br>
                Material Handler<br>
                Packer<br>
                Sorter<br>
                Forklift Operator<br>
                Lift Truck Operator <br>
                Production Associate <br>
                Baler <br>
                Picker <br>
                Warper <br>
                Creeler <br>
                Tufting Machine Operator<br>
                Runner<br>
                
            .columns.large-6
              %p    
                Table Runner<br>
                Cutter<br>
                Samples<br>
                Yarn Sorter<br>
                Injection Molding<br>
                Extrusion Operator<br>
                Hopper Operator <br>
                Dyer<br>
                Quality Control<br>
                PLC Technician<br>
                Winder<br>
                Cavers<br>
                Repairer  
        
     
                
      .pageright
        .row
          .columns.large-10.large-offset-2
            %h2.text-center.secondary-text.no-margin-top= t 'contact.content-header'
            
        
        .form-section.no-spacing.mb--
          .row
            .columns.large-10.large-offset-2
              %fieldset.mb--
                = render 'contact/form'          
        
   
      