- if flash[:notice]
  = render 'shared/success_notice'

%head
  %title Joynus Staffing | Office & Administrative
  %meta{:content => "We have your best interest at heart", :name => "Description"}/
  = stylesheet_link_tag 'industry', media: 'all'
%body
  %section
    .path
      %a{:href => "/"}
        .srvIco1
          %i.icon-home
      %a{:href => "/services"}
        %h5 Services 
      .srvIco11
        %i.icon-right
      %h5 Office & Administrative
    .wrap
      
              
                
      .pageleft
        .row        
          .columns.large-12
      
            %h2.text-center
              Office & Administrative
            %p
              The office personnel increases productivity and keep your business operating at top capacity, 
              across a wide scope of office disciplines, positions and industries. 
            
            .columns.large-12
             
              %h5
                %b
                  Positions we excel at
                  %br/
              .columns.large-6
                %p
                  Account Executive<br>
                
                  Call Center Associate<br>
                
                  Customer Support Representative<br>
                  
                  Executive Assistant <br>
                  
                  Human Resources Assistant <br>
                  
                  Insurance Claim Processor <br>
              .columns.large-6
                %p
                  Legal Office Clerk <br>
                  
                  Legal Secretary <br>
             
                  Medical Records Clerk <br>
                  Office Manager <br>
                  Receptionist
               
                    
                
                  
              
      .pageright
        .row
          .columns.large-10.large-offset-1
            %h2.text-center.no-margin-top= t 'contact.content-header'
            
        
        .form-section.no-spacing.mb--
          .row
            .columns.large-10.large-offset-1
              %fieldset.mb--
                = render 'contact/form'          
        
   
      