- if flash[:notice]
  = render 'shared/success_notice'

%head
  %title Joynus Staffing | Services | We provide best solutions
  %meta{:content => "We have your best interest at heart", :name => "Description"}/
%body
  %section.feature-section.no-spacing
    .feature.animated.fadeIn
      .feature-container2
            

        
  
  %section
    .wrap
      
              
                
      .pageleft
        .row        
          .columns.large-12
      
            %h2.secondary-text.text-center
              Office & Administrative
            
           
            
            .columns.large-12
             
              %h5
                %b.secondary-text
                  Positions we excel at<br>
            
              .columns.large-6
                %p
                  Administrative Assitant <br>
                  Data Entry Clerk <br>
                  Receptionist<br>
                  Switchboard Operators <br>
                  Call Center Associate 
                
              
      .pageright
        .row
          .columns.large-10.large-offset-2
            %h2.text-center.secondary-text.no-margin-top= t 'contact.content-header'
            
        
        .form-section.no-spacing.mb--
          .row
            .columns.large-10.large-offset-2
              %fieldset.mb--
                = render 'contact/form'          
        
   
      