- if flash[:notice]
  = render 'shared/success_notice'

%head
  %title Joynus Staffing | Information Technology
  %meta{:content => "We have your best interest at heart", :name => "Description"}/
  = stylesheet_link_tag 'industry', media: 'all'
%body
  %section
    .path
      %a{:href => "/"}
        .srvIco1
          %i.icon-home
      %a{:href => "/staff"}
        %h5 Staffing
      .srvIco11
        %i.icon-right
      %h5 High Volume
      
    .wrap          
                
      .pageleft
        .row        
          .columns.large-12
      
            %h2.text-center
              High Volume
            %p
              Having large number of associates working in one location is our expertise.
              No matter what, we ensure your production doesn’t stop. It entails safety, 
              attendance, retention, training, communication and no excuse attitude
            
            .columns.large-12
             
              %h5
                %b
                  Attendance
                %br/
              %p
                If you require large number of people working in a same place, keeping track of
                who clocked in/out can be payroll and invoice nightmare. Joynus covers all loop
                holes for attendance. Pin or bio attendance machine synced with mobile and web
                application makes attendance efficient, but even further, seamless integration
                with payroll and billing mitigates error. Plus we have someone physically at the site
                
              %h5
                %b
                  Training and Safety
                %br/
              %p
                It’s not only a safety training but it’s training with safety in mind. 
                First every one of Joynus associates must know how and what to do. 
                Even further, we explain why. Second, through our On Site Program,
                we follow up on their job training and measure performance  
                
              %h5
                %b
                  No Drama
                %br/
              %p
                When you gather large group of people, bit of tick tack can happen 
              
      .pageright
        .row
          .columns.large-10.large-offset-1
            %h2.text-center.no-margin-top= t 'contact.content-header'
            
        
        .form-section.no-spacing.mb--
          .row
            .columns.large-10.large-offset-1
              %fieldset.mb--
                = render 'contact/form'          
        
   
      