%head
  %title Joynus Staffing | Staffing process
  %meta{:content => "Why are we different? check out our staffing process", :name => "Description"}/
  = stylesheet_link_tag 'application', media: 'all'  
%body
  %section.feature-section.no-spacing
    .feature.animated.fadeIn
      .feature-container
        %img{ data: { interchange:"[#{asset_path('Consultation_M.jpg')}, (small)], [#{asset_path('Consultation_M.jpg')}, (medium)], [#{asset_path('Consultation.jpg')}, (large)]" } }
        .feature-text
          %h1.text-center.animated.fadeInDown{:style => "color:#333333; margin-left:-2%"}
            CONSULTATION
          %h5{:style => "color:#333333"}
            New to the area or industry?
  
    .row
      .columns.large-12
        .path
          %a{:href => "/"}  
            .srvIco1
              %i.icon-home
          %a{:href => "/"}
            %h5 Home   
          .srvIco11
            %i.icon-right  
          %a{:href => "/services"}
            %h5 Services 
          .srvIco11
            %i.icon-right    
          %h5 Consult  
        


  .row#consultation
    .columns.xlarge-7.vr{:style => "margin-bottom:25px"}
      
     
          
          
      %p{:style =>"padding-top:7%"}
        We have connections with firms of all sizes and industries and a range of diverse talent nation wide
        to provide insight into industry standards, including compensation information.
      
    
    .columns.xlarge-4
      
      
      %ul.checklist
        %li
           
          Competitor analysis
        %li
           
          Hiring foreign nationals
        %li
           
          Localized demographic
        %li
           
          Outsourcing
        %li
           
          Strategic marketing
        %li
           
          Targeted advertising 

              
  
  
