%head
  %title Joynus Staffing | Staffing process
  %meta{:content => "As far as missile defense is concerned, a very thorough consultation process is underway", :name => "Description"}/
   
%body
  %section.feature-section.no-spacing
    .feature.animated.fadeIn
      .feature-container
        %img{ data: { interchange:"[#{asset_path('Consultation_M.jpg')}, (small)], [#{asset_path('Consultation_M.jpg')}, (medium)], [#{asset_path('Consultation.jpg')}, (large)]" } }
        .feature-text
          %h1.text-center.animated.fadeInDown{:style => "color:#333333; margin-left:-2%"}
            %b CONSULTATION
          
  
    .row
      .columns.large-12
        .path
          %a{:href => "/"}  
            .srvIco1
              %i.icon-home
          %a{:href => "/"}
            %h5 Home   
          .srvIco11
            %i.icon-right  
          %a{:href => "/services"}
            %h5 Services 
          .srvIco11
            %i.icon-right    
          %h5 Consult  
        


  .row#consultation
    .columns.xlarge-7.vr{:style => "margin-bottom:25px"}
      
     
          
          
      %p{:style =>"padding-top:7%"}
        We provide our expertise, words of experience, and data. If you are new to the industry or area, 
        we can help you point you in the right direction. If you are acquiring a business or seriously upgrade 
        your business, we can help you in the following six areas.
      
    
    .columns.xlarge-4
      
      
      %ul.checklist
        %li
           
          Competitor analysis
        %li
           
          Hiring foreign nationals
        %li
           
          Localized demographic
        %li
           
          Outsourcing
        %li
           
          Strategic marketing
        %li
           
          Targeted advertising 

              
  
  
