.show-for-small-only
  .row
    .columns.large-12
      %fieldset
        %form{ ng: { controller: 'jobCtrl' } }
          .row
            .columns.large-12
              .input-prepend
                %span.fa.fa-search
                %input.prepend.prepend-search.no-margin{type: 'text', placeholder: 'Search', ng: { model: 'searchJobs' } }

          .row
            .columns.large-12
              #jobs-header
                %table.no-margin
                  %tbody
                    %tr
                      %td{ width: '20%' }= t 'jobs.company'
                      %td{ width: '30%' }= t 'jobs.title'

          .row
            .columns.large-12
              #jobs-table.mb--
                - if @jobs.where.not(date_approved: nil).count != 0
                  %table.clickable-row
                    %tbody
                      %tr{ ng: { repeat: 'job in jobs  | filter:searchJobs', click: 'go(job.id)' } }
                        %td{ width: '20%' } {{ job.company }}
                        %td{ width: '30%' } {{ job.title }}
                - else
                  .empty-table
                    %h2 No Jobs Currently Listed
                    %p
                      Check back later, or
                      = link_to 'contact us.', contact_index_path

          .row
            .columns.large-12
              .right
                %a.button.small.no-margin.no-hover{ href: 'https://joy.aviontego.com/portals/main.aspx?App=3&Companyid=JoynusStaffing&pad=true', target: "_blank" } Sign In
                %a.button.submit.small.radius.no-margin{ href: apply_url, target: "_blank" } Apply
                /%a.button.submit.small.radius.no-margin{ href: 'https://joy.aviontego.com/portals/main.aspx?App=1&Companyid=JoynusStaffing', target: "_blank" } Apply
