%section.feature-section.no-spacing
  .feature
    %article.feature-static
      = image_tag('find-job-bg.jpg')
    %article.feature-absolute
      = image_tag('find-job-bg.jpg')
      .feature-text
        %h1.text-center Current Openings

%section
  .row
    .columns.large-10.large-offset-1
      %h2.text-center.secondary-text Let's get started.
      %p Browse and search for new career opporunities here. During the application process, we will tailor your desires, skillset, and qualifications to get you on track for success.


= render 'large_job_table'
= render 'small_job_table'
