%section.feature-section
  .feature
    %article.feature-static
      = image_tag('home-bg.jpg')
    %article.feature-absolute
      = image_tag('home-bg.jpg')
      .feature-text
        %h1.text-center= t 'hero-landing'
        %p.text-center= t 'hero-tagline'
        .circle
          %span.icon-down-cursor

%section.home-companies.primary-color-bg
  .row
    .columns.large-12
      %p.text-center.mb-- A Few Companies that choose Joynus Staffing

  .row
    .columns.large-10.large-offset-1
      %ul.inline-list.logo-list.mb
        %li
          %span.icon-hyundai-logo
        %li
          %span.icon-sk-logo
        %li.show-for-medium-up
          %span.icon-lg-logo
        %li.show-for-medium-up
          %span.icon-kia-logo
        %li.show-for-medium-up
          %span.icon-posco-logo

%section.home-section
  .row
    .columns.large-6
      %h2 Better Career, better life.
      %p.no-margin Joynus Staffing understands that having a great job creates a higher level of satisfaction in life. We do one thing- we help you find the career you’re looking for. Whether you are looking for a new opportunity or are temporarily unemployed, Joynus Staffing is the fastest path to a better life.

%section.home-section
  .row
    .columns.large-6.large-offset-6
      %h2 We have the right job for you.
      %p.no-margin At Joynus Staffing, we are committed to helping you realize your goals and aspirations by matching you with the perfect career. Our team is dedicated to one purpose- enabling you to live a better life by connecting you to the right job.

%section.home-section
  .row
    .columns.large-6
      %h2 Make your best decisions.
      %p We work closely with job seekers to identify each person’s strengths and help them find workplaces where they will succeed. Our wide variety of partners enable us to match the right person to the perfect opportunity. At Joynus Staffing, our goal is to help our clients find better jobs with better pay and higher levels of satisfaction.
      %a.button.secondary.radius.small{href: '#'} Apply Now

%section.home-section.primary-color-bg
  .row
    .columns.large-6.large-offset-6
      %h2 Employers
      %p We have over a decade of experience staffing some of the most reputable companies in the world. Joynus Staffing works hard to find employees who will work hard for you and match your businesses needs. We are qualified to service any business of any size in any industry. From small businesses to large companies, Joynus Staffing is prepared to help you meet your organization’s goals.
      %a.button.secondary.radius.small{href: '#'} Learn More
