%section.hero-section
  %h1.text-center Our Vision is your future.
  %p.text-center More than a decade of human resource expertise to thrust you into the workplace.

%section.about-section
  .row
    .columns.large-12
      %p Every day, we help individuals find new jobs and open new career opportunities. Companies that partner with us discover a flexible and efficient way to enhance their work force. We boast a professional yet family atmosphere, and a proactive approach sets us apart from the competition. Joynus Staffing specializes in providing employees to tier 1, 2, 3 and 4 companies in the automotive industry as well as light industrial employees to a wide range of clients.
      %p The staff at Joynus ensures success by paying close attention to meet the needs of our employees and our clients. Our main office, located in Dalton, GA, is staffed with well-trained, motivated personnel. To ensure complete satisfaction, we have a staff member available to you 24 hours a day.
      %h5.mb-- Let's work Together

      %a.button.secondary.radius.small.mr--{href: '#'} Jobseekers
      %a.button.primary.radius.small{href: '#'} Businesses
