fieldset {
  border-radius: $global-radius;
  background: $primary-color;
  margin-top: 0;
  padding: rem-calc(40);

  input[type='text'], textarea, select, input[type='password'],  input[type='email'] {
    border: 3px solid $white;
    border-radius: $global-radius;
    min-height: rem-calc(50);
    margin-bottom: rem-calc(30);
    display: block;
    padding-left: rem-calc(15);
    transition: all .5s ease;

    &:focus {
      border: 3px solid #23748a;
    }
  }

  textarea {
    resize: none;
  }

  select {
    color: $primary-color;
  }

  .input-prepend {
    position: relative;

    .fa {
      color: #36abca;
      position: absolute;
      top: rem-calc(10);
      left: rem-calc(10);
    }

    input { padding-left: rem-calc(40); }
  }

  p { color: $white; }

  .switch {
    span {
      position: relative;
      top: -11px;
      right: -11px;
      color: rgba(255,255,255, 0.85);
    }
  }
}

::-webkit-input-placeholder {
   color: $primary-color;
   opacity: 0.4;
}

:-moz-placeholder {
   color: $primary-color;
   opacity: 0.4;
}

::-moz-placeholder {
   color: $primary-color;
   opacity: 0.4;
}

:-ms-input-placeholder {
   color: $primary-color;
   opacity: 0.4;
}
