fieldset {
  border-radius: $global-radius;
  background: $primary-color;
  padding: rem-calc(40);

  input[type='text'], textarea, select {
    border-radius: $global-radius;
    margin-bottom: rem-calc(30);
  }

  textarea {
    resize: none;
  }

  select {
    color: $primary-color;
  }
}

::-webkit-input-placeholder {
   color: $primary-color;
   opacity: 0.4;
}

:-moz-placeholder {
   color: $primary-color;
   opacity: 0.4;
}

::-moz-placeholder {
   color: $primary-color;
   opacity: 0.4;
}

:-ms-input-placeholder {
   color: $primary-color;
   opacity: 0.4;
}
