.sticky-nav {
  z-index: 1000;
  position: fixed;

  &.drop-shadow {
    -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, .15);
    -moz-box-shadow:    0 0 0 4px rgba(0, 0, 0, .15);
    box-shadow:         0 0 0 4px rgba(0, 0, 0, .15);
  }

  nav { position: relative; }

  .top-bar-section ul li > a {
    font-weight: 400;
    position: relative;

    &.button {
      padding-left: 15px;
      padding-right: 15px;
    }

    &.active:before {
      content: '';
      width: calc(100% - 26px);
      background: $primary-color;
      display: inline-block;
      height: 2px;
      position: absolute;
      bottom: 20px;
      left: 13px;
      opacity: 0.25;
    }
  }

  .top-bar-section li:not(.has-form) a:not(.button) {
    padding-left: 12px;
    padding-right: 12px;
  }
}

body.logged-in {
  & > main { padding-top: rem-calc(102); }
  .sticky-nav { margin-top: rem-calc(32); }

  .user-nav-container {
    margin: 0 auto;
    margin-bottom: 0;
    max-width: 95%;
  }

  .user-nav {
    background: $black;
    height: rem-calc(32);
    width: 100%;
    position: fixed;
    z-index: 5000;

    .button.tiny {
      background: $black;
      font-size: 14px;
      line-height: rem-calc(16);
      opacity: 0.75;
      transition: all .2s ease;

      &:hover { opacity: 1; }
      &:after { border-color: transparent !important; }
    }

    ul {
      &.f-dropdown {
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.15);
        margin-top: 0;

        &:before, &:after {
          left: 120px !important;
          top: -10px;
        }

        &:after {
          display: none;
        }
      }

      &:focus {
        outline: -webkit-focus-ring-color auto 0px;
      }
    }

    ul.inline-list {
      line-height: rem-calc(32);

      li {
        padding-left: rem-calc(16);
        padding-right: rem-calc(16);
        margin: 0;
      }

      a {
        color: $white;
        font-size: 14px;
        opacity: 0.75;
        transition: all .2s ease;

        &:hover { opacity: 1; }
      }
    }
  }
}

ul.off-canvas-list li a {
  padding: rem-calc(10) rem-calc(40);
}

nav.tab-bar.tab-bar-mobile {
  -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, .15);
  -moz-box-shadow:    0 0 0 4px rgba(0, 0, 0, .15);
  box-shadow:         0 0 0 4px rgba(0, 0, 0, .15);
  position: relative;
  z-index: 1000;

  h1 {
    margin-left: rem-calc(15);
    font-size: 1.5rem;
    font-weight: 400;
  }
}
