.sticky-nav {
  z-index: 1000;
  position: fixed;

  &.drop-shadow {
    -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, .15);
    -moz-box-shadow:    0 0 0 4px rgba(0, 0, 0, .15);
    box-shadow:         0 0 0 4px rgba(0, 0, 0, .15);
  }

  nav {
    position: relative;
  }

  .top-bar-section ul li > a.button {
    padding-left: 15px;
    padding-right: 15px;
  }

  .top-bar-section li:not(.has-form) a:not(.button) {
    padding-left: 12px;
    padding-right: 12px;
  }
}
