section {
  display: block;

  &.primary-color-bg {
    background: $primary-color;

    h2, p {
      color: $white;
    }
  }

  &.light-color-bg {
    background: $info-color;
  }

  &.home-section,
  &.about-section,
  &.employer-section,
  &.contact-section,
  &.job-section {
    padding-top: rem-calc(60);
    padding-bottom: rem-calc(60);

    h2 {
      margin-bottom: rem-calc(30);
    }
  }
}
