 $primary-color   : #21a2c5;
 $secondary-color : #88c43e;
 $light-primary   : #b9e2eb;
 $white           : #f7f9f3;
 $header-color    : #34441d;
 $black           : #0d2325;
 $body-font-color : #4b4d49;
 $body-bg         : #f7f9f3;
