<% if flash[:notice] %>
  <%= render 'shared/success_notice' %>
<% end %>
<section class="feature-section no-spacing">
  <div class="feature animated fadeIn">
    <div class="feature-container">
    <img data-interchange="[assets/employer-bg-mobile.jpg, (small)], [assets/employer-bg.jpg, (medium)], [assets/employer-bg.jpg, (large)]" data-uuid="interchange-jksp51qt0" src="assets/employer-bg.jpg"> 
     <div class="feature-text m-top2">
        <h1 class="text-center animated fadeInDown">
          We&nbsp;always deliver&nbsp;more than&nbsp;expected
          
          <!--%= t 'employers.feature-header' %-->
        </h1>
        <h3 class="subheader text-center animated fadeInDown">
          <%= t 'employers.feature-subheader' %>
        </h3>
        <a class="circle animated fadeInDown" href="/contact">
          <span class="icon-down-cursor"></span>
        </a>
      </div>
    </div>
  </div>
</section>

<section>
<!--What we do content-->
					<div class="wwdContent3">
					 
					       <div class="row">
                  <div class="columns large-12">
                    
                    <h2 class="text-center secondary-text m-top3">
                      Why Joynus
                    </h2>
                    <p class="m-bottom3">
                     That’s easy, because we have your best interest at heart. 
                     Unlike some of the frustrations you may have experienced with your previous staffing companies you have worked with, 
                     we prevent this by understanding the dynamics of your business with a simple concept that staffing is progressive and ongoing.
                     We continuously provide you with the workforce needed for your business to operate successfully with minimal defect. 
                    </p>
                    <!--div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/V8EKNz8Kh2Y?ecver=2" width="640" height="360" frameborder="0" allow="autoplay; encrypted-media" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div-->
                    <div style="position:relative;height:0;padding-bottom:56.25%"><iframe width="640" height="360" src="https://www.youtube.com/embed/okd4ZoTHnak" frameborder="0" allow="autoplay; encrypted-media" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
                  </div>
                </div>
					</div>
					<!--What we do content-->
          
</section>


<section class="content-section no-spacing" id="why">
  
  <div class="row">
    <div class="columns xlarge-6">
      <div class="home-section-img mb- margin-right1">
        <%= image_tag('industry.png') %>
      </div>
      
        <h2 class="text-center secondary-text ">
          Industry
        </h2>
        <div class="columns xlarge-6">
        <ul style="list-style-type:none;">
          <li>Automative manufacturing</li>
          <li>Plastic manufacturing</li>
          <li>Carpet manufacturing</li>
          <li>Logistic</li>
        </ul>
        </div>
        <div class="columns xlarge-6">
        <ul style="list-style-type:none;">
          <li>Information technology</li>
          <li>Accounting & finance</li>
          <li>Health care</li>
          <li></li>
          <li></li>
        </ul>
        </div>
    </div>
  </div>
</section>
<section class="content-section" id="industry">
  <div class="row">
    <div class="columns xlarge-6">
      <div class="industry-img m-right3 m-top2">
        <%= image_tag('service.png') %>
      </div>
    </div>
    <div class="columns xlarge-6 ">
      
        <h2 class="text-center secondary-text ">
          &emsp;Services
        </h2>
      
        <h3 class="text-center">Business process outsourcing(BPO)</h3>
        <h4>What is it?<span style="font-size: 19px; font-weight:10"> &emsp;Rather than focusing on cost reduction, strengthen the competitiveness, competencies thus growth of core business </span></h4>
        <h4>Why use it?<span style="font-size: 19px; font-weight:10"> &nbsp;Joynus BPO is the key to your outsource contract management so you can maximize your core business output</span></h4>
    
    </div>
  </div>
</section>
<!--section class="content-section small no-spacing" id="service">
  <div class="row">
    <div class="columns xlarge-6">
      <div class="home-section-img mb-">
        <!%= image_tag('service.png') %>
      </div>
      
        <h2>
          <!%= t 'home.best-decision-header' %>
        </h2>
        <p>
          <!%= t 'home.best-decision-content' %>
        </p>
        <!%= link_to t('home.best-decision-button'), jobs_path, class: 'button secondary radius small' %>
      
    </div>
  </div>
</section>




<!--div class="primary-color-bg">
  <section class="content-section x-small no-spacing" id="employers">
    <div class="row">
      <div class="columns xlarge-6 xlarge-offset-6">
        <div class="home-section-img mb-">
          <!%= image_tag('section-4.jpg') %>
        </div>
        <div class="animated-text">
          <h2>
            <!%= t 'home.employers-header' %>
          </h2>
          <p>
            <!%= t 'home.employers-content' %>
          </p>
          <!%= link_to t('home.employers-button'), employers_path, class: 'button secondary radius small' %>
        </div>
      </div>
    </div>
  </section>
</div>




<!--section>
  <div class="row">
    <div class="columns large-10 large-offset-1">
      <h2 class="text-center secondary-text no-margin-top">
        <!%= t 'employers.content-header' %>
      </h2>
      <p class="no-margin">
        <!%= t 'employers.content-text' %>
      </p>
    </div>
  </div>
</section-->

