.blog-posts {
  // border-bottom: 2px solid #b9e2eb;
  // padding-bottom: rem-calc(60);
  // margin-bottom: rem-calc(60);
 
}
#blog{
.prev-next-posts {
  color: rgba(33, 162, 197, 0.6);
  font-size: rem-calc(18);
  padding: rem-calc(20) 0;
  text-align: right;

  .prev { margin-right: rem-calc(20); }
  .next { margin-left: rem-calc(20); }
}
}
.row .row.shareable{
  margin-bottom: 10px;
}
.shareable .stButton .stButton_gradient {
    height: 22px;
}

.shareable .stButton  .stMainServices{
  height: 21px;
}

@media only screen and (min-width:768px) {
  .hide-desktop{
    display: none;
  }
  .hide-mobile{
    display: block;

  }
}

@media only screen and (max-width:768px) {
  .hide-mobile{
    display: none;
  }
  .hide-desktop{
    display: block;
    .large-2{
      margin-bottom: 5px;
    }
  }
}

.hidden{
  display: none;
}

.btn-share{
  background: none !important;
  border: 1px solid rgb(219, 201, 201) !important;
  color: #ccc !important;
  &:hover{
    color: #0d2325 !important;
  }
}

.post img {
  display: none;
}