.blog-posts {
  border-bottom: 2px solid #b9e2eb;
  padding-top: rem-calc(60);
  padding-bottom: rem-calc(60);
}

.prev-next-posts {
  color: rgba(33, 162, 197, 0.6);
  font-size: rem-calc(18);
  padding: rem-calc(20) 0;
  text-align: right;

  .prev { margin-right: rem-calc(20); }
  .next { margin-left: rem-calc(20); }
}
