@media only screen  {
  #consultation{
    ul.checklist {
    list-style-type: none;
    list-style-image: url('Checkbox_Blue.jpg');
        li{
            font-size:20px;
            position: relative;
            margin-bottom: 13px;
            
            
        }
    }
   
   
   
    
 
 .vr {
    border-right: solid 2px #cccccc;
    
    height:300px;
}  
}   
}

@media only screen and (min-width:320px){
   #consultation{
    .vr{
        border-right: none 0px;
        border-bottom: solid 2px #cccccc;
        height:200px;
        
    }
   }    
}

@media only screen and (min-width:1024px){
    #consultation{
    .vr {
    border-right: solid 2px #cccccc;
    border-bottom: none 0px;
    height:250px;
    }
}
}