@media only screen and (max-width: 1980px){
  #directhire{
   p{font-size:20px;}
   h2{font-size: $h2-font-size;}
   
 } 
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 480px) {
  #directhire{
   p{font-size:17px;}
   h2{font-size:30px;}
   .feature-text{
       h1{
           font-size:40px;
       }
   }
 
  
  
  
 
 p{
   font-size:15px;
 }
  
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}  
  .numbertext1 > h2{
  background:rgba(0, 0, 26, 0.8);
  font-size:25px;
  padding: 4px 6px;
 
}    
      
      
  } 
} 