

@media only screen {
  #home {
    .wwdContent2{
    //background: ;
    background-attachment: fixed;
	background-position: center top;
	background-repeat: repeat-y;
	background-size: cover;
	min-height: 90%;
	 display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;   
  flex-wrap: wrap;
	
	position:relative;
	.img5{
    height:auto;
    width:250px;
    padding: 2em;
}
}



.wwdContent2:before{
   
    background-color: rgb(210, 237, 249);
    content: "";
    height: 90%;
    position: absolute;
    width: 90%;
    margin: 10% 0 0 5%;
    padding-right:15%;
    left:0;
	top:0;
	z-index:0;
	border-radius:30px;
}
    
    .home-section-img {
      width: calc(100% + 30px);
      position: relative !important;
      left: -15px;
    }

    .content-section {
      h2 { margin-top: rem-calc(30); }
      p, .button { margin-bottom: rem-calc(30); }
    }

    .companies {
      position: relative;
      top: -1px;
      padding-top: rem-calc(24);
      padding-right: rem-calc(64);
      padding-bottom: rem-calc(24);
      padding-left: rem-calc(64);

      h3 {
        color: $white;
        margin-bottom: rem-calc(24);
      }

      ul {
        max-width: rem-calc(900);
        margin: 0 auto;

        li {
          width: 50%;
          float: right;
          list-style-type: none;
          text-align: center;

          span {
            color: #fff;
            font-size: rem-calc(50);
            opacity: 0.6;
            width: 100%;
            text-align: center;

            &.icon-posco-logo {
              position: relative;
              top: 14px;
              font-size: rem-calc(30);
            }
          }
        }
      }
    }

    #career {
      position: relative;
      top: -1px;
    }
  }
}


@media only screen and (min-width: rem-calc(360)) {
 #home{
   p{font-size:17px; }
   
   h2{font-size:30px;}
    
  .wwdContent2{
   
	.img5{
    height:auto;
    width:250px;
    padding: 1em;
}
  h2{
    padding-top:1em;
  }
}
.wwdContent2:before{
   
    width: 100%;
    margin: 10% 0 10% 0;
}
 }
} 

// Small screens
@media only screen and (min-width: rem-calc(501)) {
  #home {
    .centered {
      h1{
        font-size:60px;
      }
      h3{
        font-size:35px;
      }
  }
    
    .companies ul li { width: 33%; }

    section.content-section {

      &.x-small, &.small {
        padding-top: rem-calc(0);
        padding-bottom: rem-calc(50);
      }

      &#career { padding-bottom: 0 !important; }
      &#right-job { padding-top: 0 !important; }
    }
  .wwdContent2{
   
	.img5{
    height:auto;
    width:250px;
    padding: 2em;
}
  h2{
    padding-top:0;
  }
}
.wwdContent2:before{
   
    width: 95%;
    margin: 5% 0 0 2.5%;
}   
    
    
    
  }
}

// Medium screens
@media only screen and (min-width: rem-calc(768)) {
  #home {
    .companies ul li { width: 20%; }
    .home-section-img img { width: 100%; }
    p { font-size: 20px;}
    
    h2{font-size: $h2-font-size;}
    .centered >h1{
    font-size:65px;
    display:inline-block;
  }
    
      
  }
}

@media only screen and (min-width: rem-calc(1024)) {
  #home {
    .home-section-img { display: none; }
    
    
    
    
    section.content-section {
      padding-top: rem-calc(150);
      padding-bottom: rem-calc(150);
      
      h2 { margin-top: 0; }
      p, .button { margin-bottom: 0; }
      .button { margin-top: rem-calc(30); }

      &.small {
        padding-top: rem-calc(100);
        padding-bottom: rem-calc(100);
      }

      &.x-small {
        padding-top: rem-calc(50);
        padding-bottom: rem-calc(50);
      }

      &#career {
        background: asset-url('career-img.jpg') no-repeat top right;
        padding-top: rem-calc(150) !important;
        padding-bottom: rem-calc(150) !important;
      }

      &#best-decision {
        background: asset-url('best-decision-img.jpg') no-repeat top right;
        background-size: auto 100%;
      }

      &#employers { background: asset-url('employer_homepage.jpg') no-repeat top left; }

      &#right-job {
        padding-top: rem-calc(150) !important;
        padding-bottom: rem-calc(150) !important;

        .right-job-img {
          position: absolute;
          top: -100px;

          img {
            max-height: 400px;
          }
        }
      }
    }
    .centered >h1{
    font-size:80px;
    display:inline-block;
  }

  }
}




.split {
    height: 110%;
    width: 50%;
    position: absolute;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 15px;
    
}

.sleft {
    left: 0;
    background: image-url("jobseeker.jpg") no-repeat;
    background-size:cover;
}



.sleft:before {
  background: rgba(64, 64, 64, 0.6);
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
	left:0;
	top:0;
	z-index:0;
}

.sright {
    right: 0;
    
    background: image-url('employer.jpg') no-repeat; 
    background-size:cover;
}

.sright:before{
  background: rgba(26, 51, 101, 0.6);
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
	left:0;
	top:0;
	z-index:0;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

  
  
  
}





@media all and (max-width:500px) {
  
  .centered >h1{
    font-size:35px;
    display:inline-block;
  }
  
  .centered >h3{
    font-size:17px;
    position: relative;
  }
  
  .centered >h4{
    font-size:17px;
    position: relative;
  }
  
  .iprocess {
    color: #ffffff;
    padding: 9px 15px ;
    font-size: 15px;
    position: relative;
    
  }
  
  
  .sleft {
    left: 0;
    background: asset-url("jobseeker-mobile.jpg");
    background-size: cover;
  }
  
  .sright {
      right: 0;
      background: asset-url("employer-mobile2.jpg") ;
      background-size:cover;
  }
  
  
  
  
  .srvIco i{
    font-size:25px;
    color: #48522d;
    display: inline-block;
  }

  
  
  
  
}
// Large screens
@media only screen and (min-width: 64.063em) {}
 
@media only screen and (min-width: 64.063em) and (max-width: 90em) {}

// XLarge screens
@media only screen and (min-width: 90.063em) {}
 
@media only screen and (min-width: 90.063em) and (max-width: 120em) {}
 
// XXLarge screens
@media only screen and (min-width: 120.063em) {
  
   #home {
    .wwdContent2{
   
	min-height: 90%;
	 
	.img5{
    height:auto;
    width:250px;
    padding: 0;
    
    display: inline-block;
   
    position: relative fixed;
   
}
}



.wwdContent2:before{
   height: 1200px;
    position: absolute;
    width: 95%;
    margin: 10% 0 0 2.5%;
    padding-right:15%;
    left:0;
	top:0;
	z-index:0;
	border-radius:30px;
	display: block;   
  flex-wrap: none;
}
}
}