@media only screen {
  #services {
    .home-section-img {
      width: calc(100% + 30px);
      position: relative !important;
      left: -15px;
    }

    .content-section {
      h2 { margin-top: rem-calc(30); }
      p, .button { margin-bottom: rem-calc(30); }
    }

    .companies {
      position: relative;
      top: -1px;
      padding-top: rem-calc(24);
      padding-right: rem-calc(64);
      padding-bottom: rem-calc(24);
      padding-left: rem-calc(64);

      h3 {
        color: $white;
        margin-bottom: rem-calc(24);
      }

      ul {
        max-width: rem-calc(900);
        margin: 0 auto;

        li {
          width: 50%;
          float: right;
          list-style-type: none;
          text-align: center;

          span {
            color: #fff;
            font-size: rem-calc(50);
            opacity: 0.6;
            width: 100%;
            text-align: center;

            &.icon-posco-logo {
              position: relative;
              top: 14px;
              font-size: rem-calc(30);
            }
          }
        }
      }
    }

    #career {
      position: relative;
      top: -1px;
    }
    
  
   p{font-size:17px;}
   h2{font-size:30px;}
   
   
  
   .industry-grid-items{
     background:white;
      border-style: solid;
      border-color:#d7dbd0;
      
      padding-top:5%;
      
   }
   
 }
    
  }

@media only screen and (min-width: rem-calc(360)){
  #services{
  .prev, .next {font-size: 11px}  
  .stext > p{
    background:rgba(26, 26, 26, 0.4);
    font-size:13px;
    width:80%;
    padding: 10px 12px;
    margin-left:10%;
    bottom:0%;
  }
  
  .numbertext > h2{
  background:rgba(26, 26, 26, 0.4);
  font-size:25px;
  padding: 4px 6px;
 
}
  
  
  
  
  .stext1 > p{
    background:rgba(0, 0, 26, 0.8);
    font-size:13px;
    width:80%;
    padding: 10px 12px;
    margin-left:10%;
    bottom:0%;
  }
  
  .dot {
  
  height: 10px;
  width: 10px;
  }
  
  .dot2 {
    height: 10px;
    width: 10px;
  }
  
  .industry-grid-container {
    font-size: 20px;
    min-height: 130px;
    width: 95%;
    margin:auto;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(100px, 1fr));
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
    
    .img8{
      height:70px;
      width:auto;
    }
    
    p{
      font-size:15px;
    }
  }
  
  .grid-container {
    font-size: 20px;
    min-height: 300px;
    width: 95%;
    margin:auto;
    
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(130px, 1fr));
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
  
  .img7{
    height:90px;
    width:auto;
  }
  }
  
  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: 0;
  }
  
}
}
// Small screens
@media only screen and (min-width: rem-calc(480)) {
  #services {
    .companies ul li { width: 33%; }

    section.content-section {

      &.x-small, &.small {
        padding-top: rem-calc(0);
        padding-bottom: rem-calc(50);
      }

      &#career { padding-bottom: 0 !important; }
      &#right-job { padding-top: 0 !important; }
    }
    
  .industry-grid-container {
    
    
    p{
      font-size:25px;
    }  
    
    
  }
  }
}


/* On smaller screens, decrease text size */

// Medium screens
@media only screen and (min-width: rem-calc(768)) {
  #services {
    .companies ul li { width: 20%; }
    .home-section-img img { width: 100%; }
    .specialcontainer {
    position: relative;
    width: 230px;
    height: 230px;
    }
    
   
   p{font-size:20px;}
   h2{font-size: $h2-font-size;}
  
  .industry-grid-container {
    font-size: 20px;
    min-height: 200px;
    width: 95%;
    margin:auto;
    
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(230px, 1fr));
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    
    
    .img8{
      height:150px;
      width:auto;
    }
  
   
 } 

  }
  
}  
  


@media only screen and (min-width: rem-calc(1024)) {
  #services {
    .home-section-img { display: none; }
    .specialcontainer {
    position: relative;
    width: 330px;
    height: 330px;
   }
   .feature-text{
      h1{
        font-size:69px;
      }
    }
   
    section.content-section {
      padding-top: rem-calc(150);
      padding-bottom: rem-calc(150);

      h2 { margin-top: 0; }
      p, .button { margin-bottom: 0; }
      .button { margin-top: rem-calc(30); }

      &.small {
        padding-top: rem-calc(100);
        padding-bottom: rem-calc(100);
      }

      &.x-small {
        padding-top: rem-calc(50);
        padding-bottom: rem-calc(50);
      }

      &#career {
        background: asset-url('career-img.jpg') no-repeat top right;
        padding-top: rem-calc(150) !important;
        padding-bottom: rem-calc(150) !important;
      }

      &#best-decision {
        background: asset-url('best-decision-img.jpg') no-repeat top right;
        background-size: auto 100%;
      }

      &#employers { background: asset-url('employer_homepage.jpg') no-repeat top left; }

      &#right-job {
        padding-top: rem-calc(150) !important;
        padding-bottom: rem-calc(150) !important;

        .right-job-img {
          position: absolute;
          top: -100px;

          img {
            max-height: 400px;
          }
        }
      }
    }
    
    .industry-grid-container {
    font-size: 30px;
    min-height: 300px;
    width: 50%;
    margin:auto;
    
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr));
    grid-template-rows: 1fr 1fr;
    grid-gap: 45px;
    
    
    .img8{
      height:130px;
      width:auto;
    }
  }
  
  .grid-container {
    font-size: 40px;
    min-height: 400px;
    width: 50%;
    margin:auto;
    
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(350px, 1fr));
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    
  .img7{
    height:250px;
    width:auto;
  }  
}
  /* Slideshow container */
.slideshow-container {
  max-width: 65%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 35px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.stext > p{
  background:rgba(26, 26, 26, 0.6);
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0%;
  width: 100%;
  margin-left:0%;
  text-align: left;
}

// recruit page
.stext1 > p{ 
  background:rgba(10, 20, 41, 0.8);
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0%;
  width: 100%;
  margin-left:0;
  text-align: left;
}


/* Number text (1/3 etc) */
.numbertext > h2{
  color: #f2f2f2;
  font-size: 35px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.numbertext1 > h2{
  background:rgba(10, 20, 41,0.8);
  color: #f2f2f2;
  font-size: 35px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activate, .dot:hover {
  background-color: #717171;
}

.dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activate, .dot2:hover {
  background-color: #717171;
}


  
  
  
    
  }
}

// Large screens
@media only screen and (min-width: 64.063em) {}

@media only screen and (min-width: 64.063em) and (max-width: 90em) {}

// XLarge screens
@media only screen and (min-width: 90.063em) {}

@media only screen and (min-width: 90.063em) and (max-width: 120em) {}

// XXLarge screens
@media only screen and (min-width: 120.063em) {}


@media all and (max-width:480px){
  .specialcontainer{
    margin:5% auto;
    height:220px;
    width:220px;
}

  
  .srvIco1, .srvIco2{
    margin-bottom:10%;
  }
  
  
  
}