@media only screen {
  .wwdContent2{
    //background: ;
  background-attachment: fixed;
	background-position: center top;
	background-repeat: repeat-y;
	background-size: cover;
	min-height: 90%;
	 display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;   
  flex-wrap: wrap;
  position:relative;
}



  .wwdContent2:before{
   
    background-color: rgb(230, 247, 255);
    content: "";
    height: 90%;
    position: absolute;
    width: 100%;
    left:0;
  	top:0;
  	z-index:0;
  	border-radius:30px;
  }
    .path{
      padding-top:1%;
      padding-left:2%;
      position: relative;
      overflow: hidden;
      display:flex;
      h5{
        color: #4C4C4D;
        margin-left:10px;
        margin-right:10px;
        font-size:22px;
        vertical-align:middle;
      }
     
      a > h5{
        color:#5ecbee;
      }
      
       a > h5:hover{
        color: #1190bb;
      }
      
      .srvIco1 i {
        color: #5ECBEE;
        display: inline-block;
        font-size:28px;
        position: relative fixed;
        vertical-align:middle;
        padding-top:3px;
      }
      .srvIco1 i:hover {
        color: #0f6b8a;
      }
      .srvIco11 i {
        color: #4C4C4D;
        display: inline-block;
        font-size:28px;
        position: relative fixed;
        vertical-align:middle;
        padding-top:3px;
      }
    } 
    
    
    
  #something {
    display: none;
  }


#something:active {
  display: block;
}
    
    .home-section-img {
      width: calc(100% + 30px);
      position: relative !important;
      left: -15px;
    }

    .content-section {
      h2 { margin-top: rem-calc(30); }
      p, .button { margin-bottom: rem-calc(30); }
    }

    .companies {
      position: relative;
      top: -1px;
      padding-top: rem-calc(24);
      padding-right: rem-calc(64);
      padding-bottom: rem-calc(24);
      padding-left: rem-calc(64);

      h3 {
        color: $white;
        margin-bottom: rem-calc(24);
      }

      ul {
        max-width: rem-calc(900);
        margin: 0 auto;

        li {
          width: 50%;
          float: right;
          list-style-type: none;
          text-align: center;

          span {
            color: #fff;
            font-size: rem-calc(50);
            opacity: 0.6;
            width: 100%;
            text-align: center;

            &.icon-posco-logo {
              position: relative;
              top: 14px;
              font-size: rem-calc(30);
            }
          }
        }
      }
    }

    #career {
      position: relative;
      top: -1px;
    }
    
  
   p{font-size:17px;}
   h2{font-size:30px;}
   
   
  
   
   
 }
    


@media only screen and (min-width: rem-calc(320)){
  
  .img000{
    height:auto;
    width:83%;
    padding-left:15%;
   
    }
  .path{
      padding-top:17%;
      
      h5{
        font-size:18px;
        vertical-align:middle;
      }
      .srvIco1 i {
        font-size:20px;
      }
      
      .srvIco11 i {
        font-size:20px;
      }
    } 
    #services{
    .feature-text{
      h1{
        font-size:40px;
      }
    }
    }
  
}

// Small screens
@media only screen and (min-width: rem-calc(480)) {
 
   
    
  .path{
      padding-top:7%;
  }    
  
}


/* On smaller screens, decrease text size */

// Medium screens
@media only screen and (min-width: rem-calc(768)) {
  
    .path{
      padding-top:4%;
      h5{
        font-size:20px;
        vertical-align:middle;
      }
      .srvIco1 i {
        font-size:25px;
      }
      
      .srvIco11 i {
        font-size:25px;
      }
    } 
    .companies ul li { width: 20%; }
    .home-section-img img { width: 100%; }
    .specialcontainer {
    position: relative;
    width: 230px;
    height: 230px;
    }
   
   
   
   
   p{font-size:20px;}
   h2{font-size: $h2-font-size;}
   .img8{
    height:130px;
    width:auto;
    
    }
  
   
  

  
  
}  
  


@media only screen and (min-width: rem-calc(1024)) {
  #services{
    .path{
      padding-top:2%;
    }
    .home-section-img { display: none; }
    .specialcontainer {
    position: relative;
    width: 330px;
    height: 330px;
   }
   
   .img000{
    height:auto;
    width:80%;
    padding-left:20%;
   }
   
   .feature-text{
      h1{
        font-size:80px;
      }
    }
   
    section.content-section {
      padding-top: rem-calc(150);
      padding-bottom: rem-calc(150);

      h2 { margin-top: 0; }
      p, .button { margin-bottom: 0; }
      .button { margin-top: rem-calc(30); }

      &.small {
        padding-top: rem-calc(100);
        padding-bottom: rem-calc(100);
      }

      &.x-small {
        padding-top: rem-calc(50);
        padding-bottom: rem-calc(50);
      }

      &#career {
        background: asset-url('career-img.jpg') no-repeat top right;
        padding-top: rem-calc(150) !important;
        padding-bottom: rem-calc(150) !important;
      }

      &#best-decision {
        background: asset-url('best-decision-img.jpg') no-repeat top right;
        background-size: auto 100%;
      }

      &#employers { background: asset-url('employer_homepage.jpg') no-repeat top left; }

      &#right-job {
        padding-top: rem-calc(150) !important;
        padding-bottom: rem-calc(150) !important;

        .right-job-img {
          position: absolute;
          top: -100px;

          img {
            max-height: 400px;
          }
        }
      }
    }
    
   






.wrap {
    width: 80%;
    overflow:auto;
    display:flex;
    margin:auto;
    
}

.pageleft {
    float:none; 
    width: 55%;
}



.pageright {
    float:right;
    width:45%;
   
  
}



}
   
}


@media only screen and (min-width: rem-calc(1200)) {

 .path{
      padding-top:1%;
    }
 .wrap {
    width: 80%;
    overflow:auto;
    display:flex;
    margin:auto;
    
}

.pageleft {
    float:none; 
    width: 55%;
}



.pageright {
    float:right;
    width:45%;
   
  
}  



}



@media all and (max-width:480px){
  .specialcontainer{
    margin:5% auto;
    height:220px;
    width:220px;
}

  
  .srvIco1, .srvIco2{
    margin-bottom:10%;
  }
  
  .img8{
    height:85px;
    width:auto;
  }
  
  #industries{
   p{font-size:13px;}
  }
  
  
}