.row
  .columns.large-12
    = form.text_field :title, placeholder: 'Blog Title *'

.row
  .columns.large-12
    = form.cktext_area :contents, placeholder: 'Blog content', cols: 40, class: 'ckeditor'
