%section.feature-section.no-spacing
  .feature
    %article.feature-static
      = image_tag('about-bg.jpg')
    %article.feature-absolute
      = image_tag('about-bg.jpg')
      .feature-text
        %h1.text-center Our Vision is your future.

%section
  .row
    .columns.large-12
      %h2.text-center.secondary-text.no-margin-top More than a decade of human resource expertise to thrust you into the workplace
      %p Creating new opportunities for individuals and businesses to grow successfully is something we strive for each and every day. Strategic infrastructure in the workplace is vital, which is why we guide the most qualified people into the right work environments. With the expertise we provide, more companies can experience a cohesive system. We believe that meaningful work leads to a better quality of living in and out of the workplace, which, in turn, increases both employer and employee outcomes. This is what matters to us, a better life for a brighter future.
      %p The staff at Joynus ensures success by paying close attention to meet the needs of our employees and our clients. Our main office, located in Dalton, GA, is staffed with well-trained, motivated personnel. To ensure complete satisfaction, we have a staff member available to you 24 hours a day.

      %div.button-container
        %h4.mb-- Let's work Together
        %a.button.secondary.radius.small.mr--{href: '#'} Jobseekers
        %a.button.primary.radius.small{href: '#'} Businesses
